#form-helper {
    background-color: red;
    color: white;
    font-size: 22px;
}

.sign-up-container {
    background-color: lightgrey;
    
}

.sign-up-form {
    display: block;
    padding-left: 10px;
    padding-bottom: 30px;
    
}
.hm-form-title {
    padding-left: 10px;
}

.user-name-input {
    display: block;   
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 5px;
}
.password-input {
    display: block;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 5px;

}
.password-confirm-input {
    display: block;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 5px;

}
.sign-up-btn {
    display: block;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 5px;
    height: 35px;
    width: 75px;
    background-color: green;
}
.sign-up-btn:hover {
    background-color: lightgreen;
    color: white;
}